body {
    font-family: Arial, sans-serif;
    background: #f4f4f9;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    padding: 20px; */
}
.container {
    max-width: 900px;
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}
.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.search-bar input[type="text"] {
    padding: 8px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}
.search-bar button {
    background: linear-gradient(to right, #6a11cb, #2575fc); /* Gradient tím - xanh ngọc */
    color: white; /* Chữ trắng nổi bật */
    border: none;
    padding: 8px 16px;
    margin-left: 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s; /* Hiệu ứng mượt mà */
}

.search-bar button:hover {
    background: linear-gradient(to right, #4a0d99, #1b57cc); /* Gradient đậm hơn khi hover */
    color: #f5f5f5; /* Màu chữ hơi sáng hơn */
    transform: scale(1.05); /* Nút lớn hơn một chút khi hover */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    padding: 12px 15px;
    text-align: left;
}
th {
    background-color: #333;
    color: white;
    cursor: pointer;
    position: relative;
}
th a.sortable {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}
th a.sortable:hover {
    text-decoration: underline;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.action-buttons a {
    padding: 6px 12px;
    margin: 2px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    transition: 0.2s;
}
.edit-btn {
    background-color: #4CAF50;
}
.edit-btn:hover {
    background-color: #45a049;
}
.delete-btn {
    background-color: #f44336;
}
.delete-btn:hover {
    background-color: #d32f2f;
}
.pagination {
    display: flex;
    /* justify-content: center;
    margin-top: 20px; */
}
.pagination a {
    color: #333;
    padding: 8px 12px;
    margin: 0 4px;
    border-radius: 5px;
    border: 1px solid #ddd;
    text-decoration: none;
    transition: 0.3s;
}
.pagination a:hover {
    background-color: #333;
    color: #fff;
}
.pagination a.active {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}