body {
    font-family: Arial, sans-serif;
    background: #f4f4f9;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 900px;
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}
.input-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.input-group input[type="text"] {
    padding: 8px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}
.input-group button {
    background: linear-gradient(to right, #6a11cb, #2575fc); /* Gradient tím - xanh ngọc */
    color: white; /* Chữ trắng nổi bật */
    border: none;
    padding: 8px 16px;
    margin-left: 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s; /* Hiệu ứng mượt mà */
}

.input-group button:hover {
    background: linear-gradient(to right, #4a0d99, #1b57cc); /* Gradient đậm hơn khi hover */
    color: #f5f5f5; /* Màu chữ hơi sáng hơn */
    transform: scale(1.05); /* Nút lớn hơn một chút khi hover */
}

/* Style cho bảng */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table th {
    background: #333 !important;
    color: #f4f4f9 !important;
    font-weight: bold !important;
}
table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

/* Định kiểu cho các hàng chẵn và lẻ */
.table tbody tr:nth-child(odd) {
    background-color: #f2f2f2; /* Màu nền cho hàng lẻ */
}

.table tbody tr:nth-child(even) {
    background-color: #ffffff; /* Màu nền cho hàng chẵn */
}

/* Style cho nút xóa */
.delete {
    background: #f44336; /* Màu đỏ */
    color: white;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 10px;
}

.delete:hover {
    background: #d32f2f; /* Màu đỏ đậm hơn khi hover */
    transform: scale(1.05); /* Nút lớn hơn một chút khi hover */
    margin-top: 10px;
}

/* Style cho nút sửa */
.edit {
    background: #4CAF50; /* Màu xanh lá cây */
    color: white;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

.edit:hover {
    background: #45a049; /* Màu xanh lá cây đậm hơn khi hover */
    transform: scale(1.05); /* Nút lớn hơn một chút khi hover */
}